.top-right {
  border-radius: 0;
  background: transparent;
  font-size: 22px;
  color: #000;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  top: 6px;
  font-weight: 700;
  right: 12px;
}

.vm--modal{
  overflow: auto !important;
}
