.manager {
  width: 100%;
  display: flex;
  align-items: center;

  &__info {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12px;
  }

  &__avavar {
    width: 58px;
    height: 58px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }

  &__role {
    font-size: 14px;
    line-height: 1;
  }

  &__delete.eve-button {
    margin-left: auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    padding: 6px 18px;
  }
}
