.community {
  width: 100%;
  display: flex;
  align-items: center;

  &__avatar.profile-bar__avatar {

    @media screen and (max-width: $tablet) {
      width: 140px;
      height: 140px;
    }
  }

  &__wrapper {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $black;
  }

  &__name {
    font-weight: bold;
    margin-bottom: 20px;

    @media screen and (max-width: $tablet) {
      margin-bottom: 10px;
    }
  }

  &__btn {
    align-self: flex-end;
    margin-left: auto;
    padding-bottom: 18px;
  }

  // Visited
  &--visited {
    flex-direction: column;
  }

  &--visited &__wrapper {
    margin-left: 0;
    margin-top: 6px;
  }

  &--visited &__name {
    margin-bottom: 18px;
  }

  &--small {
    @media screen and (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &--small &__wrapper {
    @media screen and (max-width: $tablet) {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  // Small
  &--small &__avatar {
    width: 66px;
    height: 66px;
  }

  &--small &__name {
    margin-bottom: 0;
  }

  &--small &__btn {
    display: none;
  }
}
