.video-item {
  width: 100%;

  .default-video {
    width: 100%;
    height: 178px;
    margin-bottom: 9px;
  }

  &__bottom-bar {
    display: flex;
    align-items: flex-start;
  }

  &__avatar {
    width: 40px;
    height: 40px;

    img {
      min-width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 100%;
    }
  }

  &__wrapper {
    font-size: 14px;
    line-height: 20px;
    color: $black;
    margin-left: 14px;
  }

  &__title {
    font-weight: bold;
  }
}
