.checkmark {
  position: absolute;
  width: 22px;
  height: 22px;
  background: $white;
  border: 1px solid #D6C7CE;
  box-sizing: border-box;
  border-radius: 7px;

  &::after {
    content: "";
    position: absolute;
    display: none;
  }
}

.checkbox {
  display: block;
  width: 100%;
  max-width: 22px;
  position: relative;
  cursor: pointer;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .checkmark {
    background: $white url('/icons/check.svg') center center no-repeat;
    background-size: 14px 13px;
  }
}



.default-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: $black;
  cursor: pointer;


  input[type="checkbox"] {
    display: none;
  }

  &__decor {
    display: flex;
    align-items: center;
    background: #F3EFF0;
    border: 1px solid #D2C5CC;
    box-sizing: border-box;
    border-radius: 9px;
    width: 20px;
    height: 10px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      border-radius: 100%;
      display: block;
      width: 14px;
      height: 14px;
      background: #D2C5CC;
      left: -5px;
      transition: 0.2s left ease-in, 0.2s background-color;
    }
  }

  input:checked ~ &__decor::before {
    left: calc(100% - 9px);
    background: #66BCD7;
    transition: 0.2s left ease-out;
  }

}
