.email-subscribe {
  width: 100%;
  margin-top: 90px;
  margin-bottom: 45px;

  @media screen and (max-width: $mobile) {
    margin-top: 42px;
    margin-bottom: 32px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;

    @media screen and (max-width: $mobile) {
      padding: 0 12px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $black;
    margin-bottom: 8px;
    @media screen and (max-width: $mobile) {
      text-align: left;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 475px;
    justify-content: space-between;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      margin-top: 9px;
    }
  }

  &__submit {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $black;
    padding: 5px 20px;
    background: #F3EFF0;
    border-radius: 40px;
    border: none;
    height: 30px;

    @media screen and (max-width: $mobile) {
      margin-top: 14px;
    }
  }
}

.default-input {
  background: transparent;
  border: 1px solid #D6C7CE;
  box-sizing: border-box;
  border-radius: 40px;
  height: 30px;
  width: 100%;
  padding: 0 16px;
  max-width: 360px;
  outline: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: $black;

}
