.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media screen and (max-width: $tablet) {
    justify-content: space-between;
  }

  &__icon {
    width: 15px;
    height: 15px;

    @media screen and (max-width: $tablet) {
      display: none;
    }
  }
  &__body {
    padding: 0 12px;

    @media screen and (max-width: $tablet) {
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__item {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $black;
    margin-right: 24px;

    &.active {
      font-weight: bold;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  // Mobile

  &__button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    user-select: none;
    height: 15px;

    span {
      display: none;
    }

    &::before, &::after {
      display: none;
    }

    @media screen and (max-width: $tablet) {
      border: 1px solid #D6C7CE;
      box-sizing: border-box;
      border-radius: 40px;
      width: 100%;
      max-width: 143px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 30px;

      span  {
        display: inline;
      }

      &::before, &::after {
        display: block;
      }
    }
  }

  &__prev {

    @media screen and (max-width: $tablet) {
      &::before {
        position: absolute;
        left: 12px;
        transform: rotate(315deg);
      }
    }
  }

  &__next {
    transform: rotate(180deg);

    @media screen and (max-width: $tablet) {
      transform: rotate(0deg);

      &::after {
        position: absolute;
        right: 12px;
        transform: rotate(135deg);
      }
    }

  }

}
