.purchase {
  width: 100%;
  display: flex;
  padding-bottom: 12px;
  border-bottom: 1px solid $border-color;
  position: relative;

  @media screen and (max-width: $tablet) {
    align-items: flex-start;
    padding-bottom: 32px;
  }

  @media screen and (max-width: $mobile) {
    flex-direction: column;
    padding-bottom: 24px;
  }

  &__image {
    width: 24%;
    height: 222px;

    @media screen and (max-width: $tablet) {
      width: 216px;
      height: 195px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: $mobile) {
      width: 48%;
    }
  }

  &__wrapper {
    width: 74%;
    position: relative;
    padding-left: 12px;
    display: flex;
    align-items: center;

    @media screen and (max-width: $tablet) {
      position: static;
    }

    @media screen and (max-width: $mobile) {
      padding-left: 0;
      width: 100%;
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;

    @media screen and (max-width: $tablet) {
      flex-wrap: wrap;
      gap: 30px 0;
    }
  }

  &__button.eve-button {
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;

    @media screen and (max-width: $tablet) {
      bottom: 15px;
      left: 0;
    }

    @media screen and (max-width: $mobile) {
      bottom: auto;
      top: 0;
      left: auto;
      right: 0;
    }
  }

  &__item {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $black;

    @media screen and (max-width: $tablet) {
      width: 50%;
    }

    &-head {
      margin-bottom: 12px;
    }

    &-value {
      font-weight: bold;
    }
  }
}
