.radio-button {
  display: flex;
  align-items: center;
  padding: 8px 17px 8px 0;
  justify-content: space-between;
  background: transparent;
  border-radius: 7px;

  @media screen and (max-width: $mobile) {
    padding: 12px;
    justify-content: center;
  }

  &__content{
    padding-left: 8px;
  }

  input[type="radio"] {
    display: none;
  }



  &__decor {
    width: 28px;
    height: 28px;
    display: block;
    background: $white;
    border: 1px solid #D5C8CF;
    box-sizing: border-box;
    border-radius: 7px;

    // @media screen and (max-width: $mobile) {
    //   display: none;
    // }
  }

  input[type="radio"]:checked ~ &__decor {
    background: url(static/icons/radio-btn.svg) no-repeat;
    background-size: 12px 12px;
    background-position: center center;
  }
}
