.search-field {
  width: 100%;
  max-width: 247px;
  min-height: 30px;
  font-size: 12px;
  padding: 4px 32px 3px 16px;
  border: 1px solid #D6C7CE;
  background: #fff url(/icons/search.svg) no-repeat 97% 2px;
  background-size: 22px;
  border-radius: 40px;
  outline: none;
}
