.default-tag {
  padding: 12px 20px;
  background: #FAF6F7;
  border-radius: 7px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $mobile) {
    padding: 6px 18px;
  }
}
