.brands {
  width: 100%;

  &-middlebar {
    margin-bottom: 0;
  }

  &-bottombar {
    margin-bottom: 36px;
  }

  &-slider {
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;
    }

    .card {
      padding-right: 12px;
    }
  }
}
