.brand-page {
  width: 100%;

  &__photo {

    @media screen and (max-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  .item-page__columns {

    @media screen and (max-width: $tablet) {
      position: relative;
      flex-wrap: wrap;
    }
  }

  &__content {
    width: 58%;

    @media screen and (max-width: $tablet) {
      width: 77%;
    }

    @media screen and (max-width: $mobile) {
      width: 100%;
    }
  }

  &__rightcol {

    @media screen and (max-width: $tablet) {
      width: calc(77% + 6px);
      margin-left: auto;
    }

    @media screen and (max-width: $mobile) {
      width: 100%;
      margin-left: 0;
    }
  }

  .default-text {
    margin-bottom: 72px;

    @media screen and (max-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  &__top-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 700px;

    @media screen and (max-width: $tablet) {
      width: 100%;
      margin-bottom: 20px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .eve-button  {
      max-width: none;
      padding: 7px 15px;
      margin-bottom: 14px;

      @media screen and (max-width: $tablet) {
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__articles {
    margin-bottom: 30px;

    @media screen and (max-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }

    @media screen and (max-width: $mobile) {
      gap: 15px;
    }


    .post-interesting {
      margin-bottom: 16px;
      max-width: none;
      padding-right: 0;

      @media screen and (max-width: $tablet) {
        max-width: none;
        width: calc((100% - 12px) / 2);
        margin-bottom: 0;
      }

      @media screen and (max-width: $mobile) {
        width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__products {
    margin-bottom: 10px;
  }

  &__references {
    margin-bottom: 42px;

    .reference {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__albums {
    margin-bottom: 10px;

    .new-album {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .dt-pd-tp {

    @media screen and (max-width: $tablet) {
      position: absolute;
      right: 0;
      top: 0;
      justify-content: flex-end;
      gap: 16px;
    }
  }
}
