.brands {
  width: 100%;

  &-middlebar {
    margin-bottom: 0;

    @media screen and (max-width: $mobile) {
      margin-bottom: 16px;
    }
  }

  &-bottombar {
    margin-bottom: 36px;
  }

  &-slider {
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
