.home {
  width: 100%;

  &-products {
    width: 100%;

    &__actions {
      padding-top: 32px;
      display: flex;
      gap: 40px;

      @media screen and (max-width: $mobile) {
        gap: 0;
        justify-content: space-between;
        padding-top: 24px;

        .eve-button {
          background: #fff !important;
          border: 1px solid #D6C7CE;
          box-sizing: border-box;
          border-radius: 40px;
          color: $black !important;
          font-size: 14px;
          line-height: 20px;
          padding: 6px 16px;
        }
      }
    }
  }

  &-categories {
    width: 100%;
    padding-top: 32px;
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (max-width: $tablet) {
      flex: 1;
      flex-wrap: nowrap;
      .category-item {
        width: auto;
      }
    }

    @media screen and (max-width: $mobile) {
      padding-top: 16px;
      flex-wrap: wrap;

      .category-item {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  &-favourite{
    width: 100%;
    padding-top: 32px;

    @media screen and (max-width: $mobile) {
      padding-top: 24px;
    }
  }

  .experts-responses {
    width: 100%;

    .slick-slide {

      .expert-response {

        @media screen and (max-width: $tablet) {
          width: 22.5vw !important;
        }
      }

      &:first-child .expert-response {

        @media screen and (max-width: $tablet) {
          width: 45.5vw !important;
        }
      }
    }


  }

  .most-interesting{
    padding-top: 34px;

    @media screen and (max-width: $mobile) {
      padding-top: 24px;
    }
  }

  .more-interesting{
    padding-top: 29px;
    padding-bottom: 28px;
    width: 100%;

    .eve-button {
      padding: 5px 13px;
    }

    @media screen and (max-width: $mobile) {
      padding-top: 16px;
      padding-bottom: 16px;
      display: flex;
      justify-content: center;

      .eve-button {
        border: 1px solid $border-color;
        background: #fff;
      }
    }
  }

  .tag-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding-bottom: 29px;

    @media screen and (max-width: $mobile) {
      padding-bottom: 16px;
      flex-wrap: wrap;
      justify-content: flex-start;
      white-space: nowrap;
    }

    .default-tag{
      flex-basis: 20%;
    }
  }
}

.custom-arrow.slick-arrow{
  background: transparent url('/icons/slider-arrows.svg') center no-repeat !important;
  background-size: 100% !important;
  width: 15px;
  height: 15px;

  &::before{
    display: none;
  }

  &.custom-arrow__next{
    transform: rotate(180deg);
    right: 15px;
  }

  &.slick-prev{
    left: 7px;
    z-index: 10;
  }
}
