.home {
  width: 100%;

  &-products {
    width: 100%;

    &__actions {
      padding-top: 32px;
      display: flex;
      gap: 40px;

      @media screen and (max-width: $mobile) {
        gap: 0;
        justify-content: space-between;
        padding-top: 24px;

        .eve-button {
          background: #fff !important;
          border: 1px solid #D6C7CE;
          box-sizing: border-box;
          border-radius: 40px;
          color: $black !important;
          font-size: 14px;
          line-height: 20px;
          padding: 6px 16px;
        }
      }
    }
  }

  &-categories {
    width: 100%;
    padding-top: 32px;

    .owl-nav {
      top: 50% !important;
      transform: translateY(-50%);
    }

    @media screen and (max-width: $tablet) {
      .category-item {
        width: auto;
      }
    }

    @media screen and (max-width: $mobile) {
      padding-top: 16px;

      .category-item {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  &-favourite{
    width: 100%;
    padding-top: 32px;

    @media screen and (max-width: $mobile) {
      padding-top: 24px;
    }
  }

  .experts-responses {
    width: 100%;
  }

  .most-interesting{
    padding-top: 34px;

    @media screen and (max-width: $mobile) {
      padding-top: 24px;
    }
  }

  .more-interesting{
    padding-top: 29px;
    padding-bottom: 28px;
    width: 100%;

    .eve-button {
      padding: 5px 13px;
    }

    @media screen and (max-width: $mobile) {
      padding-top: 16px;
      padding-bottom: 16px;
      display: flex;
      justify-content: center;

      .eve-button {
        border: 1px solid $border-color;
        background: #fff;
      }
    }
  }

  .tag-wrapper{
    display: flex;
    gap: 12px;
    padding-bottom: 5px;
    margin-bottom: 24px;
    width: auto;
    overflow-x: scroll;

    @media screen and (max-width: $mobile) {
      padding-bottom: 16px;
      flex-wrap: wrap;
      justify-content: flex-start;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
    }

    .default-tag{
      min-width: calc((1280px - 48px) / 5);
      max-width: none;

      @media screen and (max-width: $mobile) {
        min-width: calc((100% - 12px) / 2);
      }
    }
  }
}

.owl-carousel .owl-nav .owl-next{
  transform: rotate(180deg);
}

.owl-carousel .owl-nav{
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding-top: 0;
  margin-top: 0 !important;
  pointer-events: none;
  top: 35%;
  left: 0;

  .owl-prev,
  .owl-next {
    background: transparent url('/icons/slider-arrows.svg') center no-repeat !important;
    background-size: 100% !important;
    width: 15px;
    height: 15px;
    opacity: .8;
    margin-right: 8px !important;
    margin-left: 8px !important;
    pointer-events: auto;

    span {
      display: none;
    }

    &:hover{
      background: transparent url('/icons/slider-arrows.svg') center no-repeat !important;
      background-size: 100% !important;
      opacity: 1;
    }
  }
}
