.home {
  width: 100%;

  &-products {
    width: 100%;

    &__actions {
      padding-top: 32px;
      display: flex;
      gap: 40px;
    }
  }

  &-categories {
    width: 100%;
    padding-top: 32px;
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-favourite{
    width: 100%;
    padding-top: 32px;
  }

  .experts-responses {
    width: 100%;
  }

  .most-interesting{
    padding-top: 34px;
  }

  .more-interesting{
    padding-top: 29px;
    padding-bottom: 28px;
    width: 100%;
  }

  .tag-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding-bottom: 29px;

    .default-tag{
      flex-basis: 20%;
    }
  }
}

.custom-arrow.slick-arrow{
  background: transparent url('/icons/slider-arrows.svg') center no-repeat !important;
  background-size: 100% !important;
  width: 15px;
  height: 15px;

  &::before{
    display: none;
  }

  &.custom-arrow__next{
    transform: rotate(180deg);
    right: 15px;
  }

  &.slick-prev{
    left: 7px;
    z-index: 10;
  }
}
