.cart-item {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid $border-color;
  position: relative;

  @media screen and (max-width: $mobile) {
    flex-wrap: wrap;
  }

  &__image {
    width: 32%;
    height: 222px;

    @media screen and (max-width: $mobile) {
      width: 48%;
      height: 130px;
    }
  }

  &__wrapper {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: $mobile) {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @media screen and (max-width: $mobile) {
      margin-top: 10px;
      flex-wrap: wrap;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      color: $black;
      @media screen and (max-width: $mobile) {
        width: 50%;
      }

      &:first-child {

        @media screen and (max-width: $mobile) {
          width: 100%;
          margin-bottom: 14px;
        }
      }

      strong {
        font-weight: bold;
      }

      mark {
        font-weight: 500;
        font-size: 25px;
        line-height: 36px;
        color: #3D7A96;
        background: transparent;
        margin-top: 3px;
      }

      s {
        font-size: 20px;
        line-height: 29px;
        text-decoration-line: line-through;
        margin-top: 8px;
      }

      span {
        font-size: 20px;
        line-height: 29px;
        margin-top: 8px;
      }
    }

    &-product {
      width: 100%;
      margin: 0;
      padding-left: 0;
      padding-top: 8px;
      list-style-type: none;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__delete {
    background: transparent;
    border: none;
    padding: 0;

    @media screen and (max-width: $mobile) {
      position: absolute;
      top: 0;
      right: 0;
    }

    img {
      width: 25px;

      @media screen and (max-width: $mobile) {
        width: 20px;
      }
    }
  }

  & &__select {
    font-size: 16px;
    line-height: 23px;
    padding: 3px 15px;
    border: 1px solid #D6C7CE;
    box-sizing: border-box;
    border-radius: 40px;
    background-position: center right 10px;
    max-width: 72px;
    width: 100%;

    @media screen and (max-width: $mobile) {
      position: absolute;
      top: 0;
      left: calc(48% + 16px);
    }
  }

  &__prices {
    width: 100%;
    display: flex;

    mark {
      padding-right: 24px;
    }
  }
}
