.expert-response {
  display: flex;
  width: 100%;
  max-width: 248px;
  min-width: 246px;
  min-height: 233px;
  overflow: hidden;
  text-decoration: none;

  @media screen and (max-width: $tablet) {
    max-width: none;
  }
  @media screen and (max-width: $mobile) {
    min-height: auto;
  }

  figure {
    width: 100%;

    img {
      display: block;
      width: 100%;
      max-width: 246px;
      height: 178px;
      border-radius: 7px;
      overflow: hidden;
      object-fit: cover;
      line-height: 1;

      @media screen and (max-width: $tablet) {
        width: 100%;
      }

      @media screen and (max-width: $mobile) {
        height: 138px;
      }
    }

    figcaption{
      width: 100%;
      padding-top: 13px;

      span{
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
      }

      p{
        font-weight: 400;
        font-size: 12px;
        line-height: 26px;
        margin: -4px 0 0;
      }
    }
  }

  &.first-item {
    width: 100%;
    max-width: 505px;
    min-width: 504px;
    box-sizing: border-box;

    figure {
      display: flex;
      align-items: flex-start;
      width: 100%;

      img{
        width: 100%;
        max-width: 246px;
        min-height: 223px;

        @media screen and (max-width: $tablet) {
          max-width: 243px;
        }
      }

      figcaption{
        margin-left: 12px;
        width: 100%;
        max-width: 50%;
        flex-grow: 1;
        padding-top: 0;

        p{
          margin-top: -4px;
        }
      }
    }
  }

  &__slider {

    .expert-response {
      &:first-child {
        @media screen and (max-width: $mobile) {
          display: none !important;
        }
      }
    }
  }
}
