.footer {
  width: 100%;

  &-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $white;
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    margin-left: 36px;

    @media screen and (max-width: $tablet) {
      margin-left: 0;
    }
  }

  &-copyright {
    margin-left: auto;
  }

  button.footer-link,
  span.footer-link,
  a.footer-link {
    text-decoration: none;
  }

  &-nav {
    width: 100%;
    background: $header-bg;
    padding: 24px 0;

    .wrapper {
      display: flex;
      justify-content: space-around;

      @media screen and (max-width: $mobile) {
        flex-direction: column;
        align-items: center;
      }
    }

    &__item {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: $black;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;

      @media screen and (max-width: $mobile) {
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 23px;

        &:last-child {
          margin-bottom: 0;
        }
      }
      // &::after {
      //   content: "";
      //   display: flex;
      //   width: 4px;
      //   height: 4px;
      //   border-left: 2px solid $blueberry;
      //   border-top: 2px solid $blueberry;
      //   // Active - 45deg
      //   transform: rotate(225deg);
      //   margin-left: 6px;
      // }
    }
  }

  &-bottom {
    background: $blueberry;
    padding: 25px 0;

    @media screen and (max-width: $tablet) {
      padding: 55px 0;
    }

    .wrapper {
      display: flex;
      align-items: center;

      @media screen and (max-width: $tablet) {
        flex-wrap: wrap;
        gap: 36px 0;
      }
    }
  }

  // Country Button
  &-country {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    &__icon {
      width: 17px;
      height: 17px;
      margin-right: 5px;
    }

    &__name {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: $white;
    }
  }

  // Adaptive Bottom Footer
  button.footer-link,
  .footer-country {
    width: 33.33%;
    display: flex;
    justify-content: center;
  }

  a.footer-link,
  .footer-copyright {
    width: 50%;
    text-align: center;
  }
}
