.user-bar{
  margin-left: auto;

  &__badge{
    width: 18px;
    margin-right: 16px;
    margin-top: 4px;
    cursor: pointer;
    position: relative;

    &--active {
      &::after {
        content: attr(data-count);
        width: 10px;
        height: 10px;
        border-radius: 10px;
        color: white;
        background: $red;
        font-size: 10px;
        text-decoration: none;
        position: absolute;
        top: 10%;
        z-index: 9;
        left: 27%;
      }
    }

    img {
      width: 100%;
      position: relative;
      z-index: 10;
    }
  }

  &__items{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .login-link{
      font-weight: normal;
      font-size: 11px;
      line-height: 16px;
      color: $t-pink;
      text-transform: uppercase;
      padding: 0;
      text-decoration: none;
      margin-right: 18px;

      &:hover{
        color: $black;
      }
    }

    .language{
      width: 100%;
      max-width: 22px;
      height: 22px;
      padding: 0;
      border: none;
      cursor: pointer;

      img{
        width: 100%;
      }
    }
  }

}
