//colors=================>

$black: #000;
$red: #CD102C;
$blueberry: #493842;
$green: #EEF7E3;
$white: #fff;
$header-bg: #FAF6F7;
$header-bg__marketplace: #F5E5F2;
$t-pink: #735563;
$border-color: #D2C5CC;

$default-font: 'Jost', sans-serif;
