//colors=================>

$black: #000;
$red: #CD102C;
$placeholder-color: #987E8B;
$forgot-link: #389EBE;
$blueberry: #493842;
$green: #EEF7E3;
$white: #fff;
$header-bg: #FAF6F7;
$header_catalog: #98A9B5;
$header-bg-transparent: transparent;
$header-bg__marketplace: #FDEBD2;
$header-bg_community: #346798;
$t-pink: #735563;
$border-color: #D2C5CC;

$default-font: 'Jost', sans-serif;

// Breakpoints
$laptop: 1340px;
$tablet: 1024px;
$mobile: 760px;
