.filter-item {
  display: flex;
  flex-direction: column;
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
    color: $black;
  }

  &__link {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: $black;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      text-align: right;
      color: #735563;
    }
  }
}

.catalog-filter {
  width: 100%;
  max-width: 217px;
  .filter-item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
